.saudacao-container {
  text-align: center;
  margin-top: 100px;
}

.saudacao-container input {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
