body,
html,
#root {
  height: 100%;
  margin: 0;
}

.button-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.conteudo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.custom-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
