.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  width: 60%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 600px) {
  .card {
    width: 90%;
    padding: 20px;
  }
}
